test/check_submition.py
test/tester.txt
test/inputs/input1.txt
test/inputs/input2.txt
test/inputs/input3.txt
test/inputs/input4.txt
test/outputs/output1.txt
test/outputs/output2.txt
test/outputs/output3.txt
test/outputs/output4.txt
